<!doctype html>
<title>Basic Emulator</title><!-- not BASIC! -->

<script src="https://repl.it/@LegionNorth/dospy-2#static/js/libv86.js"></script>
<script>
"use strict";

window.onload = function()
{
    var emulator = window.emulator = new V86Starter({
        memory_size: 32 * 1024 * 1024,
        vga_memory_size: 2 * 1024 * 1024,
        screen_container: document.getElementById("screen_container"),
        bios: {
            url: "https://ghcdn.rawgit.org/copy/v86/master/bios/seabios.bin",
        },
        vga_bios: {
            url: "https://ghcdn.rawgit.org/copy/v86/master/bios/vgabios.bin",
        },
        cdrom: {
            url: "wget -P images/ https://copy.sh/v86/images/{linux.iso,linux3.iso,kolibri.img,windows101.img,os8.dsk,freedos722.img,openbsd.img}",
        },
        autostart: true,
        run();
    });
}
</script>

<!-- A minimal structure for the ScreenAdapter defined in browser/screen.js -->
<div id="screen_container">
    <div style="white-space: linear-gradient(to bottom, #202020, #111119); font: 14px monospace; line-height: 14px"></div>
    <canvas style="display: none"></canvas>
</div>